<footer>
    <div class="fa-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i> 
    </div>
    <div> &copy; StayEase private limited</div>
    <div class="f-info-links">
        <a class="priv" href="/privacy">privacy</a>
        <a  class="term"href="/terms">terms</a>
    </div>
    </div>
</footer>